# MANIFEST.in
exclude .gitignore
exclude .coverage
exclude .circleci/config.yml
prune .cache
prune .circleci
prune .git
prune build
prune dist
recursive-exclude *.egg-info *
recursive-exclude tests *
